:host {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color:black, $alpha: 0.9);
}

mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
  }